---
import {getCollection} from 'astro:content';

import MainPageLayout from "../../layouts/MainPageLayout.astro";
import GameCard from "../../components/game-card/GameCard.astro";

const boardGameEntries = await getCollection<'board-games'>('board-games');
---
<style>
    @import "GamesPage.scss";
</style>

<MainPageLayout>
    <div slot="content" class="games-container">
        <div class="header-container">
            <h1>Itt találhatjátok Veszprémben kölcsönözhető játékainkat!</h1>
            <p>Foglalásért jelenleg látogassátok meg <a href="https://facebook.com/bethepawn"
                                                        rel="noopener noreferrer" target="_blank">Facebook</a>
                oldalunkat. Hamarosan itt, a weboldalon is tudtok foglalást leadni!
            </p>
        </div>
        <div class="game-card-container">
            {boardGameEntries.map(({data}) =>
                <GameCard data={data}/>
            )}
        </div>
    </div>
</MainPageLayout>