@use '../../styles/colors.scss' as colors;

.game-card-root {
  display: flex;
  border: 1px solid colors.$color-alice-blue;
  border-radius: 12px;
}

.game-card-image {
  display: flex;
  align-items: center;
  background: white;
  padding: 0 16px;
  border-radius: 12px;
}

.game-card-content {
  padding: 16px;
}