@use '../../styles/colors.scss' as colors;

.game-card-root {
  display: flex;
  border: 1px solid colors.$color-alice-blue;
  border-radius: 12px;

  @media screen and (max-width: 1024px) {
    flex-direction: column;
  }
}

.game-card-image {
  display: flex;
  align-items: center;
  background: white;
  padding: 16px;
  border-radius: 12px;

  @media screen and (max-width: 1024px) {
    justify-content: center;
    flex-direction: column;
  }
}

.game-card-content {
  padding: 16px;
}

.badge-list {
  display: flex;
  gap: 8px;
}