$color-haiti: #200E33;
$color-carrot-orange: #EC8A2F;
$color-bright-turquoise: #0CD3E2;
$color-azure: #3B5DB5;
$color-cab-sav: #570910;

$color-alice-blue: #E8EEF2;

:root {
  --color-haiti: #200E33;
  --color-alice-blue: #E8EEF2;
  --color-azure: #3B5DB5;
}