---
import { Image } from 'astro:assets';

import '../../styles/colors.scss';
import logo from '../../../public/logo.svg';

import Link from "../link/Link.astro";
---
<style>
    .root {
        display: flex;
        margin: 12px;
    }

    .navigation {
        display: flex;
        align-items: center;
        flex: 1;
        justify-content: center;
    }
</style>

<div class="root">
    <div>
        <Image src={logo} alt="sad side-eyed pawn figure" width="50" height="50"/>
    </div>
    <nav class="navigation">
        <Link title="Játékok" path="/"/>
        <Link title="Rólunk" path="/about-us/"/>
    </nav>
</div>

