---
import {Image} from 'astro:assets';

import '../../styles/colors.scss';
import logo from '../../../public/logo.svg';
import facebook_primary from '../../../public/facebook_primary.svg';

import Link from "../link/Link.astro";
---
<style>
    .root {
        display: flex;
        margin: 12px;
    }

    .navigation {
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: center;
        margin: 8px;
        border-left: 1px solid var(--color-alice-blue);
        border-right: 1px solid var(--color-alice-blue);
    }

    .social-container {
        display: flex;
        align-items: center;
    }
</style>

<div class="root">
    <a href="/" title="Be The Pawn - Veszprém társasjáték kölcsönző">
        <Image src={logo} alt="sad side-eyed pawn figure" width="50" height="50"/>
    </a>
    <nav class="navigation">
        <Link title="Játékok" path="/games/"/>
        <Link title="Rólunk" path="/about-us/"/>
    </nav>
    <div class="social-container">
        <a href="https://facebook.com/bethepawn"
           rel="noopener noreferrer" target="_blank" title="Facebook - Be The Pawn">
            <Image src={facebook_primary} alt="sad side-eyed pawn figure" width="32" height="32"/>
        </a>
    </div>
</div>

