---
import MainPageLayout from "../layouts/MainPageLayout.astro";
---
<style>
    .header-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: color-mix(in srgb, var(--color-azure) 10%, transparent);
        padding: 12px;
    }

    .footer-container {
        padding: 12px;
    }
</style>

<MainPageLayout>
    <div slot="content">
        <div class="header-container">
            <h1>Fedezd fel Veszprémben kölcsönözhető társasjáték kínálatunkat és kezdődhet a játék!</h1>
        </div>

        <div class="footer-container">
            Az oldal még fejlesztés alatt áll, de a <a href="https://facebook.com/bethepawn"
                                                       rel="noopener noreferrer" target="_blank">Facebookon</a>
            már minden információt megtalálhattok, szeretettel várunk benneteket!
        </div>
    </div>
</MainPageLayout>
