---
import Header from '../components/header/header.html'
import Navigation from "../components/navigation/Navigation.astro";

import '../styles/global.scss';
---
<html lang="hu">
    <Header />
    <body>
        <Navigation />
    </body>
</html>
