---
import MainPageLayout from "../layouts/MainPageLayout.astro";
---
<style>
    .content {
        padding: 12px;
    }
</style>

<MainPageLayout>
    <div slot="content" class="content">
        <h1>Társasjáték kölcsönzés Veszprémben</h1>

        <p>Üdvözlünk a felejthetetlen társasjáték élmények világában! Ha Veszprémben vagy környékén élsz, és egy
            különleges eseményre készülsz, ne szalaszd el társasjáték kölcsönzési szolgáltatásainkat.</p>

        <h2>Miért válassz minket?</h2>

        <h3>Széles Választék</h3>
        <p>Kínálatunkban megtalálható a legújabb és legnépszerűbb társasjátékok valamint klasszikus darabok széles választéka. Legyen szó családi
            összejövetelről, baráti buliról vagy céges rendezvényről, nálunk mindig megtalálod a tökéletes játékot.</p>

        <h3>Rugalmas Kölcsönzés</h3>
        <p>Az esemény időtartamához igazodva kínálunk rugalmas kölcsönzési lehetőségeket. Egy estés összejöveteltől
            kezdve egészen hosszabb távú kölcsönzésekig minden igényt kielégítünk.</p>

        <h3>Kényelmes Helyszín</h3>
        <p>A kölcsönzö Veszprém szívében található, könnyen megközelíthető helyen. Szívesen segítünk a megfelelő
            társasjáték kiválasztásában, és a kölcsönzési folyamat gyors és egyszerű lebonyolításában.</p>

        <h2>Hogyan Működik?</h2>

        <ol>
            <li><strong>Válaszd ki a játékot:</strong> Böngészd át kínálatunkat, és válaszd ki a megfelelő
                társasjátékot az esemény típusa szerint. (létszám, rászánt idő)
            </li>
            <li><strong>Kérj ajánlatot:</strong> Kérj tőlünk ajánlatot a kiválasztott játékra és az esemény
                időtartamára a <a href="https://facebook.com/bethepawn"
                                 rel="noopener noreferrer" target="_blank">Facebook</a> oldalunkon keresztül.
            </li>
            <li><strong>Fizess kényelmesen:</strong> Különböző fizetési módokkal könnyen rendezheted a kölcsönzési
                díjat.
            </li>
            <li><strong>Vedd át a játékot:</strong> Gyere el hozzánk, és vedd át a kiválasztott társasjátékot.
            </li>
        </ol>

        <h2>Legyen a Rendezvényed egyedi!</h2>
        <p>A társasjátékokkal garantáltan felejthetetlenné tehetsz bármilyen eseményt. Legyen szó születésnapról,
            házibuliról vagy céges összejövetelről, a társasjátékok mindig jó hangulatot teremtenek.</p>

        <p>Ne habozz, válaszd a Be The Pawn csapatát a társasjátékok kölcsönzéséhez Veszprémben! Játékra fel!</p>

        <hr />
        <i>
            Az oldal még fejlesztés alatt áll, de a <a href="https://facebook.com/bethepawn"
                                                       rel="noopener noreferrer" target="_blank">Facebookon</a>
            már minden információt megtalálhattok, szeretettel várunk benneteket!
        </i>
    </div>
</MainPageLayout>
