---
import MainPageLayout from "../layouts/MainPageLayout.astro";
---
<style>
    .content {
        display: flex;
        flex: 1;
        justify-content: center;
        align-items: center;
    }
</style>

<MainPageLayout>
    <div slot="content" class="content">
        <div>
            <div>
                Üdvözlünk benneteket a Be The Pawn veszprémi társasjáték kölcsönző oldalán!

                <p>Kedvcsinálóként az alábbi játékok közül tudtok válogatni</p>

                <ul>
                    <li>Carcassone</li>
                    <li>Catan</li>
                    <li>Binding of Isaac</li>
                    <li>Hellapagos</li>
                    <li>... és még sok más különleges és jól ismert játék is.</li>
                </ul>
                Az oldal még fejlesztés alatt áll, de a <a href="https://facebook.com/bethepawn" rel="noopener noreferrer" target="_blank">Facebookon</a>
                már minden információt megtalálhattok, szeretettel várunk benneteket!
            </div>
        </div>
    </div>
</MainPageLayout>
