---
import MainPageLayout from "../layouts/MainPageLayout.astro";
---
<style>
    .content {
        padding: 12px;
    }
</style>

<MainPageLayout>
    <div slot="content" class="content">
        <h1>Társasjáték kölcsönzés Veszprémben</h1>

        <p>Üdvözlünk távol a mesterséges intelligenciától, a társas kapcsolatok, offline élmények világában! Ha
            Veszprémben vagy környékén élsz, és feldobnád az
            összejöveteleitek hangulatát, a legjobb helyen jársz..</p>

        <h2>Miért válassz minket?</h2>

        <h3>Széles társasjáték választék</h3>
        <p>Kínálatunkban megtalálható a legújabb és legnépszerűbb játékok, valamint klasszikus darabok széles
            választéka. Legyen szó családi
            összejövetelről, baráti buliról vagy céges rendezvényről, nálunk mindig megtalálod a tökéletes opciót.</p>

        <h3>Rugalmas Kölcsönzés</h3>
        <p>Az esemény időtartamához igazodva kínálunk rugalmas kölcsönzési lehetőségeket. Egy estés összejöveteltől
            kezdve egészen hosszabb távú kölcsönzésekig változó igényt kielégítünk.</p>
        <span>Ugyan áraink egész heti kölcsönzésekre vannak megadva, de alkalmazkodunk az igényekhez - meggyőzhetőek vagyunk. ;)</span>

        <h3>Frekventált Helyszín</h3>
        <p>A kölcsönzö Veszprém szívében található, könnyen megközelíthető helyen. Szívesen segítünk a megfelelő
            társasjáték kiválasztásában, és a kölcsönzési folyamat gyors és egyszerű lebonyolításában.</p>

        <h2>Hogyan Működik?</h2>

        <ol>
            <li><strong>Válaszd ki a játékot:</strong> Böngészd át kínálatunkat, és válaszd ki a Neked legjobban tetsző
                társasjátékot. (létszám / rászánt idő / típus)
            </li>
            <li><strong>Foglalj időpontot:</strong> Foglalj időpontot a <a href="https://facebook.com/bethepawn"
                                                                           rel="noopener noreferrer" target="_blank">Facebook</a>
                oldalunkon keresztül -
                arra a dátumra, amikor átvennéd a társasjátékokat a veszprémi helyszínünkön.
            </li>
            <li><strong>Vedd át a játékot:</strong> Gyere el hozzánk, és vedd át a kiválasztott társasjátékot (vagy többet, mi is nehezen választunk..)
            </li>
            <li><strong>Fizess kényelmesen:</strong> Különböző fizetési módokkal könnyen rendezheted a kölcsönzési
                díjat. A kauciót kölcsönzés végén pedig visszaadjuk (ha épségben maradtok Ti is és a játék is)
            </li>
        </ol>

        <h2>Legyen az Estéd egyedi!</h2>
        <p>A társasjátékokkal garantáltan felejthetetlenné tehetsz bármilyen eseményt. Legyen szó születésnapról,
            házibuliról vagy céges összejövetelről, a társasjátékok mindig jó hangulatot teremtenek.</p>

        <p>Ne habozz, válaszd a Be The Pawn csapatát a társasjátékok kölcsönzéséhez Veszprémben! Játékra fel!</p>

        <hr/>
        <i>
            Az oldalon történő foglalás még fejlesztés alatt áll, de a <a href="https://facebook.com/bethepawn"
                                                       rel="noopener noreferrer" target="_blank">Facebookon</a>
            keresztül már tudtok társasjátékot kölcsönözni, szeretettel várunk benneteket!
        </i>
    </div>
</MainPageLayout>
