---
import Header from '../components/header/header.html'
import Navigation from "../components/navigation/Navigation.astro";

import '../styles/global.scss';
---
<style>
    .container {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .content {
        flex: 1;
    }
</style>

<html lang="hu">
    <Header />
    <body>
        <div class="container">
            <Navigation />
            <div class="content" />
        </div>
    </body>
</html>
