---
import MainPageLayout from "../../layouts/MainPageLayout.astro";
---
<style>
    .content {
        display: flex;
        flex: 1;
        flex-direction: column;
        padding: 12px;
    }
</style>

<MainPageLayout>
    <div slot="content" class="content">
        <div>
            <h3>Üdvözlünk a Veszprémben található BeThePawn nevű társasjátékkölcsönző oldalán!</h3>
            <p>
                Az oldal és a társasjáték kölcsönző fentartásáért egy néhány fős baráti társaság felel, akik
                szeretik a társasjátékokat és szórakozást keresnek minden korosztály számára.
                Ugyan mindannyian különböző fajtájú játékokért rajongunk, de közös célunk, hogy széles választékunkkal
                és barátságos szolgáltatásunkkal segítsünk az embereknek eltölteni
                szabadidejüket, és feléleszteni a társasjátékozás örömét. Ha Te is szeretnél egy élménydús estét
                eltölteni, ne
                habozz, keresd fel üzletünket Veszprémben, és válassz a számtalan lehetőségünk közül!
            </p>

        </div>
        <div>
            <h3>
                Gondolkodtatok már azon, hogy szívesen játszanátok egy társasjátékkal baráti összejövetelek során, de mi
                van ha nem válik be?
            </h3>

            <p>
                A fenti kérdéssel mi is többször szembetaláltuk magunkat, mikor valami eseményt szerveztünk. Ez hívta
                életre a kis oldalunkat,
                ahol szeretnénk megosztani Veletek azokat a társasokat, amelyekkel ti is feldobhatjátok az este
                hangulatát.
            </p>

        </div>


        <div>
            <h3>Próbálnál ki olyan társasjátékot is, amiket nem lehet közvetlen beszerezni?</h3>
            <p>A kínálatunkban számos olyan társasjátékot találtok, amik még a Kickstarteres változatban kerültek
                kiadásra.
            </p>
            <p>
                Ha esetleg van olyan játék, amelyet szívesen kipróbálnátok, de nem elérhető Nálunk, ne habozz! Írj egy
                üzenetet, mi pedig
                igyekszünk beszerezni és máris kezdődhet a játék!</p>
        </div>

        <div>
            <h3>Kapcsolat</h3>

            <li>Facebook üzeneten keresztül</li>
            <li>Emailben a <a
                    href="mailto:bethepawngame@gmail.com?subject=Társasjáték kölcsönzés">bethepawngame@gmail.com</a>
                email címen
            </li>
        </div>
    </div>
</MainPageLayout>
