---
import MainPageLayout from "../../layouts/MainPageLayout.astro";
---
<style>
    .content {
        display: flex;
        flex: 1;
        justify-content: center;
        flex-direction: column;
        padding: 12px;
    }
</style>

<MainPageLayout>
    <div slot="content" class="content">
       <div>
           <h4>
            Gondolkodtatok már azon, hogy szívesen játszanátok egy társasjátékkal baráti összejövetelek során, de mi van ha nem válik be?
           </h4>
           Próbálnál ki olyan társasjátékot is, amiket nem lehet közvetlen beszerezni?
           <p>A kínálatunkban számos olyan társasjátékot találtok, amik még a Kickstarteres változatban kerültek kiadásra.</p>
       </div>

        <p>
            A fenti kérdéssel mi is többször szembetaláltuk magunkat, mikor valami eseményt szerveztünk. Ez hívta életre a kis oldalunkat,
            ahol szeretnénk megosztani Veletek azokat a társasokat, amelyekkel ti is feldobhatjátok az este hangulatát.
        </p>

        <p>
            Az oldal és a társasjáték kölcsönző fentartásáért egy néhány fős baráti társaság felel.
            Ugyan mindannyian különböző fajtájú játékokért rajongunk, de egy közös: szeretnénk könnyen elérhetővé tenni Mindenki számára ezeket.
        </p>

        <div>
            <em>Játékra fel!</em>
        </div>
    </div>
</MainPageLayout>
