<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; style-src 'unsafe-inline'">
    <meta name="description"
          content="Társasjáték kölcsönző Veszprémben - Fedezd fel kiváló minőségű társasjátékainkat, bérelj egyedülálló élményekért és szórakozásért! Kölcsönözz játékokat rendezvényeidhez vagy baráti összejöveteleidhez Veszprémben. Garantált szórakozás minden korosztálynak!">
    <meta name="robots" content="index,follow">
    <meta name="googlebot" content="index,follow">
    <meta name="geo.position" content="47.1028;17.9093">
    <meta name="google-site-verification" content="nLaPcvJoeA3m8-VR7er4IjfsiV8VsMHsS3IXJhE6xNM"/>

    <title>bethepawn | Társasjáték kölcsönző Veszprémben</title>
    <link rel="icon" sizes="any" href="/logo.ico"/>
    <link rel="icon" type="image/svg+xml" sizes="32x32" href="/logo.svg"/>
    <link rel="canonical" href={Astro.request.url}/>
</head>