<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self' style-src 'unsafe-inline'">
    <meta name="description" content="Társasjáték kölcsönző Veszprémben">
    <meta name="robots" content="index,follow">
    <meta name="googlebot" content="index,follow">
    <meta name="geo.position" content="47.1028;17.9093">


    <title>bethepawn</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg">
</head>