---
import Header from '../components/header/Header.astro'
import Navigation from "../components/navigation/Navigation.astro";

import '../styles/global.scss';
---
<style>
    .container {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

</style>

<html lang="hu">
    <Header />
    <body lang="hu">
        <div class="container">
            <Navigation />
            <slot name="content" />
        </div>
    </body>
</html>